@media(min-width: 992px) {
  #menu {
    margin-top: 70px;
  }
}

.site img {
  max-width: 100%;
}

.site-thumbnails {
  min-width: 300px;
}

a.thumbnail {
  padding: 10px;
  text-size: smaller;

  height: 220px;
}

a.thumbnail:hover {
  background: #fce94f !important;
  border-color: #ce5c00 !important;
}

a.thumbnail img {
  border: 1px solid #999;
}

footer {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #eeeeee;
}
